
<form [formGroup]="resourceOwnerCredentialsForm" (ngSubmit)="login()">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formGroupName="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formGroupName="password">
  </div>

  <div class="form-check">
    <input id="rememberMe" type="checkbox" [formControl]="rememberMeControl">
    <label for="rememberMe">Remember me?</label>
  </div>

  <div>
    <button class="btn btn-primary">Submit</button>
  </div>
</form>

