
<ng-template #credentialsForm>
  <form [formGroup]="resourceOwnerCredentialsForm" (ngSubmit)="login()">
  <div class="form-group">
    <label for="username">username</label>
      <input id="username" type="text" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input id="password" type="password" formControlName="password">
    </div>

    <div class="form-check">
      <input id="rememberMe" type="checkbox" [formControl]="rememberMeControl">
      <label for="rememberMe">remember me?</label>
    </div>

    <div>
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>

<ng-container *ngIf="app.token$ | async; else credentialsForm">
  <!-- if this were another app asking for access we'd ask them
       to confirm the requested scopes here, but since the only
       app at the moment that they can give access to is 'org', it's
       a formality. We assume that the access is granted.
  -->
  Login success! Redirecting...
</ng-container>

