<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Voter</a>

  <ng-container *ngIf="loginUser$ | async as loginUser; else publicMain">
    <ul class="navbar-nav navbar-expand mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/profile/{{loginUser.id}}">Profile</a>
      </li>
    </ul>

    <div class="user-profile my-2 my-sm-0" ngbDropdown>
      <app-user-avatar class="rounded-circle" [href]="loginUser.avatarHref"></app-user-avatar>

      <div class="border-left-0 border border-primary user-profile-border px-2" ngbDropdownToggle>
        <button class="btn btn-link" id="profile-dropdown-toggle">{{loginUser.name}}</button>
      </div>

      <div ngbDropdownMenu aria-labelledby="profile-dropdown">
        <a class="dropdown-item" routerLink="/home">Home</a>
        <button class="dropdown-item" (click)="logoutUser()">Logout</button>
      </div>
    </div>

  </ng-container>
</nav>

<ng-template #publicMain>
  <ul class="navbar-nav"></ul>

  <button class="btn btn-outline-success my-2 my-sm-0" (click)="navigateToLogin()">Login</button>
</ng-template>
