<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Voter</a>

  <ng-container *ngIf="loginUser$ | async as loginUser; else publicMain">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/org/e98f85dd-2244-45f7-88ec-9c03f1bf6196/activity">Polls</a>
      </li>

    </ul>

    <div class="user-profile my-2 my-sm-0">{{loginUser.name}}</div>
  </ng-container>
</nav>

<ng-template #publicMain>
  <ul class="navbar-nav"></ul>

  <button class="btn btn-outline-success my-2 my-sm-0" (click)="navigateToLogin()">Login</button>
</ng-template>
